{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="vi">
{% load static %}

<head>
  {% tailwind_css %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{Product.Title}}</title>
  <meta name="description" content="{{Product.Description}}" />
  <link rel="canonical" href="https://template-thuy-dung.vercel.app/" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/upload/website/icon.jpg" type="image/x-icon" />

  <!-- Open Graph (Facebook, Instagram, Zalo, …) -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{Product.Title}}" />
  <meta property="og:description" content="{{Product.Title}}" />
  <meta property="og:url" content="/video/{{Product.Slug}}" />
  <meta property="og:site_name" content="viewfullmedian" />
  <meta property="og:image" content="{{Product.Avatar.url}}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <!-- Tùy chọn: nếu có nhiều ảnh, có thể thêm nhiều og:image -->

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{Product.Title}}" />
  <meta name="twitter:description" content="{{Product.Title}}" />
  <meta name="twitter:image" content="{{Product.Avatar.url}}" />
  <!-- Tuỳ chọn: @username nếu có -->
  <!-- <meta name="twitter:site" content="@youraccount" /> -->

  <!-- Structured Data (tùy chọn, giúp SEO) -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body class="bg-stone-100 flex flex-col items-center min-h-screen relative">
  <!-- <header class="flex items-center justify-center bg-stone-50 w-full border-b-[1px] border-stone-200 ">
    <div class="flex items-center justify-between w-full lg:w-[1200px] h-[80px]">
      <a href="/" class="flex justify-center items-center py-2 h-full">
        <img class=" h-full w-auto" src="/upload/logo.png" />
      </a>
      <div class="hidden lg:flex items-center justify-center h-full" id="nav-daga">
        <ul id="menu-menu" class="text-stone-50 flex items-center justify-center h-full text-[18px] font-bold">
          <li id="menu-item-691"
            class="flex items-center justify-center h-full px-3 hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
            <a href="https://www.mojjo.io/" aria-current="page">Đá Gà Trực Tiếp</a>
          </li>
          <li id="menu-item-667"
            class="flex items-center justify-center h-full px-3 hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
            <a href="https://www.mojjo.io/lich-da-ga/">Lịch đá gà</a>
          </li>
          <li id="menu-item-693"
            class="flex items-center justify-center h-full px-3 hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
            <a href="https://www.mojjo.io/video-da-ga/">Xem video phát lại</a>
          </li>
          <li id="menu-item-692"
            class="flex items-center justify-center h-full px-3 hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
            <a href="https://www.mojjo.io/kien-thuc-da-ga/">Kiến thức đá gà</a>
          </li>
        </ul>
      </div>
      <div class=" flex items-center justify-center gap-3 lg:gap-0 cursor-pointer px-3 lg:px-0">
        <svg class="open_form_search" width="30px" height="30px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>search</title>
          <desc>Created with Sketch.</desc>
          <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Rounded" transform="translate(-545.000000, -421.000000)">
                  <g id="Action" transform="translate(100.000000, 100.000000)">
                      <g id="-Round-/-Action-/-search" transform="translate(442.000000, 318.000000)">
                          <g>
                              <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                              <path d="M15.5,14 L14.71,14 L14.43,13.73 C15.63,12.33 16.25,10.42 15.91,8.39 C15.44,5.61 13.12,3.39 10.32,3.05 C6.09,2.53 2.53,6.09 3.05,10.32 C3.39,13.12 5.61,15.44 8.39,15.91 C10.42,16.25 12.33,15.63 13.73,14.43 L14,14.71 L14,15.5 L18.25,19.75 C18.66,20.16 19.33,20.16 19.74,19.75 C20.15,19.34 20.15,18.67 19.74,18.26 L15.5,14 Z M9.5,14 C7.01,14 5,11.99 5,9.5 C5,7.01 7.01,5 9.5,5 C11.99,5 14,7.01 14,9.5 C14,11.99 11.99,14 9.5,14 Z" id="🔹Icon-Color" fill="#1D1D1D"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
        </svg>
        <svg class="open_menu_mobile  w-[35px] stroke-stone-950 lg:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
    </div>
  </header> -->
  <header class="flex items-center justify-center bg-stone-50 w-full border-b-[1px] border-stone-200 py-3">
    <div class="flex items-center justify-between w-full lg:w-[1200px] h-[80px]">
      <div class="flex flex-col items-center justify-between">
        <div class="flex items-center justify-center border-[3px] border-stone-950 font-bold w-[32px] h-[32px] mt-2">
          1
        </div>
        <svg class="cursor-pointer w-[35px] stroke-stone-950" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-menu">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
      <a href="/" class="flex flex-col justify-center items-center py-2 h-full">
        <img class=" h-full w-auto" src="/upload/logo.png" />
        <span class="uppercase font-bold ">Xemlivedaga.com</span>
      </a>
      <a href="/" class="flex flex-col justify-center items-center py-2 h-full">
        <img class=" h-full w-auto" src="/upload/huy_hieu.png" />
      </a>
      <div class="flex items-center justify-center gap-3">
        <svg class="fill-stone-950 w-[40px] " enable-background="new 0 0 32 32" id="Слой_1" version="1.1" viewBox="0 0 32 32" xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path clip-rule="evenodd"
            d="M31.705,15.284L31.705,15.284L31.705,15.284  l-9.97-9.991c-0.634-0.66-1.748-0.162-1.723,0.734v4.976C20.008,11.002,20.004,11,20,11H1c-0.55,0-1,0.45-1,1v8c0,0.55,0.45,1,1,1  h19c0.004,0,0.008-0.002,0.012-0.002v4.972c-0.024,0.892,1.082,1.376,1.715,0.742l9.977-9.999  C32.098,16.318,32.098,15.678,31.705,15.284z M22.017,23.564V19H22h-1h-0.988v0.002C20.008,19.002,20.004,19,20,19h-1H2v-6h17h1  c0.004,0,0.008-0.002,0.012-0.002V13H21h1h0.017V8.432l7.55,7.566L22.017,23.564z"
            fill="" fill-rule="evenodd" id="Arrow_Right"></path>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
        <span class="uppercase font-bold ">Xem Live Về gà</span>
        <svg class="fill-stone-950 w-[40px] transform -scale-x-100" enable-background="new 0 0 32 32" id="Слой_1" version="1.1" viewBox="0 0 32 32" xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path clip-rule="evenodd"
            d="M31.705,15.284L31.705,15.284L31.705,15.284  l-9.97-9.991c-0.634-0.66-1.748-0.162-1.723,0.734v4.976C20.008,11.002,20.004,11,20,11H1c-0.55,0-1,0.45-1,1v8c0,0.55,0.45,1,1,1  h19c0.004,0,0.008-0.002,0.012-0.002v4.972c-0.024,0.892,1.082,1.376,1.715,0.742l9.977-9.999  C32.098,16.318,32.098,15.678,31.705,15.284z M22.017,23.564V19H22h-1h-0.988v0.002C20.008,19.002,20.004,19,20,19h-1H2v-6h17h1  c0.004,0,0.008-0.002,0.012-0.002V13H21h1h0.017V8.432l7.55,7.566L22.017,23.564z"
            fill="" fill-rule="evenodd" id="Arrow_Right"></path>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </div>
    </div>
  </header>
  <main class="flex flex-col justify-center items-center gap-6 h-full w-full lg:w-[1200px] py-8">
    <span class="text-[30px] font-bold text-yellow-500 uppercase">
      Live trực tiếp đá gà Thomo gà cho fuisan
    </span>

    <!-- Các nút chọn kênh -->
    <div class="flex items-center gap-6 text-stone-50">
      <button data-src="https://dagaxyz.online/hls/myStream1.m3u8"
        class="channel-btn p-3 flex justify-center items-center rounded-full w-[50px] h-[50px] bg-red-600 font-bold uppercase hover:scale-125">1</button>
      <button data-src="https://dagaxyz.online/hls/myStream2.m3u8"
        class="channel-btn p-3 flex justify-center items-center rounded-full w-[50px] h-[50px] bg-green-500 font-bold uppercase hover:scale-125">2</button>
      <button data-src="https://dagaxyz.online/hls/myStream3.m3u8"
        class="channel-btn p-3 flex justify-center items-center rounded-full w-[50px] h-[50px] bg-green-500 font-bold uppercase hover:scale-125">3</button>
      <button data-src="https://dagaxyz.online/hls/myStream4.m3u8"
        class="channel-btn p-3 flex justify-center items-center rounded-full w-[50px] h-[50px] bg-green-500 font-bold uppercase hover:scale-125">4</button>
      <button data-src="https://dagaxyz.online/hls/myStream4.m3u8"
        class="channel-btn p-3 flex justify-center items-center rounded-full w-[50px] h-[50px] bg-green-500 font-bold uppercase hover:scale-125">5</button>
    </div>

    <!-- CSS Video.js -->
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

    <!-- Video -->
    <video id="my-video" class="video-js vjs-big-play-centered " controls preload="auto" autoplay playsinline
      style="width:100%;max-width:800px;height:450px;">
      <source src="https://dagaxyz.online/hls/myStream1.m3u8" type="application/x-mpegURL" />
    </video>
    <!-- <div style="flex:1; border:1px solid #ccc;">
      <iframe src="https://tlk.io/ten-phong-cua-ban" 
              frameborder="0" width="100%" height="450"></iframe>
    </div> -->

    <div class="flex flex-col w-full mt-3">
      <span class="uppercase font-bold">Video đá gà mới nhất hôm nay</span>
      <div class="w-full flex flex-col items-center justify-center">
        <div class="grid grid-cols-3 gap-5">
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full mt-3">
      <span class="uppercase font-bold">Video đá gà mới nhất hôm qua</span>
      <div class="w-full flex flex-col items-center justify-center">
        <div class="grid grid-cols-3 gap-5">
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
          <input type="checkbox" class="w-[30px] h-[30px] rounded" />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full mt-3">
      <span class="uppercase font-bold">Bài viết giới thiệu</span>
      <div class="w-full flex flex-col items-center justify-center">
        .................
      </div>
    </div>
    <div class="flex flex-col w-full mt-3">
      <div class="w-full flex flex-col items-center justify-center">
        <div class="grid grid-cols-2 gap-5 p-[100px]">
          <img class=" h-full w-auto rounded-2xl" src="/upload/bg.jpg" />
          <img class=" h-full w-auto rounded-2xl" src="/upload/bg.jpg" />
          <img class=" h-full w-auto rounded-2xl" src="/upload/bg.jpg" />
          <img class=" h-full w-auto rounded-2xl" src="/upload/bg.jpg" />
        </div>
      </div>
    </div>


    <!-- JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>

    <script>
      $(document).ready(function () {
        var player = videojs('my-video');

        $(".channel-btn").on("click", function () {
          var newSrc = $(this).data("src");

          // Đổi kênh video
          player.src({
            src: newSrc,
            type: "application/x-mpegURL"
          });
          player.play();

          // Reset màu tất cả nút về xanh
          $(".channel-btn").removeClass("bg-red-600").addClass("bg-green-500");

          // Nút đang chọn thành đỏ
          $(this).removeClass("bg-green-500").addClass("bg-red-600");
        });
      });
    </script>


  </main>
  <!-- #search  -->
  <div class="form_search fixed flex justify-center items-center inset-0 bg-stone-50 bg-opacity-80 px-3 lg:px-0"
    style="display: none; z-index: 999;">
    <form class=" flex flex-col justify-center items-center p-6 rounded w-full lg:w-[600px] bg-stone-200 gap-3">
      <div class="flex justify-between items-center w-full">
        <div class="flex items-center gap-2">
          <svg class="open_form_search" width="30px" height="30px" viewBox="0 0 17 18" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
            <title>search</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Rounded" transform="translate(-545.000000, -421.000000)">
                <g id="Action" transform="translate(100.000000, 100.000000)">
                  <g id="-Round-/-Action-/-search" transform="translate(442.000000, 318.000000)">
                    <g>
                      <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                      <path
                        d="M15.5,14 L14.71,14 L14.43,13.73 C15.63,12.33 16.25,10.42 15.91,8.39 C15.44,5.61 13.12,3.39 10.32,3.05 C6.09,2.53 2.53,6.09 3.05,10.32 C3.39,13.12 5.61,15.44 8.39,15.91 C10.42,16.25 12.33,15.63 13.73,14.43 L14,14.71 L14,15.5 L18.25,19.75 C18.66,20.16 19.33,20.16 19.74,19.75 C20.15,19.34 20.15,18.67 19.74,18.26 L15.5,14 Z M9.5,14 C7.01,14 5,11.99 5,9.5 C5,7.01 7.01,5 9.5,5 C11.99,5 14,7.01 14,9.5 C14,11.99 11.99,14 9.5,14 Z"
                        id="🔹Icon-Color" fill="#1D1D1D"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span class="font-bold text-stone-950 text-[20px]">
            Tìm kiếm
          </span>
        </div>
        <div class="close_form_search">
          <svg class="w-[25px] fill-stone-950 cursor-pointer hover:fill-red-600" id="Layer_1" version="1.1"
            viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <path
              d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z">
            </path>
          </svg>
        </div>
      </div>
      <input class="w-full mt-3 rounded h-[50px] bg-stone-300 text-[18px] text-stone-950" placeholder="Nhập từ khoá" />
      <button class="rounded w-full bg-red-600 hover:bg-red-700 font-bold text-[18px] text-white py-2" type="submit">Tìm
        kiếm</button>
    </form>
  </div>
  <!-- #Menu mobile -->
  <div class="menu_mobile fixed inset-0 flex flex-col  lg:hidden items-center justify-center h-full bg-stone-50 w-full"
    id="nav-daga" style="z-index: 999; display: none;">
    <div class="flex items-center justify-between w-full pr-3">
      <a href="/" class="flex justify-center items-center py-2">
        <img class="w-[139px] h-auto" src="/upload/logo.png" />
      </a>
      <span class="uppercase text-yellow-500 font-bold text-[20px]">Xemgalive</span>
      <div class="close_menu_mobile ">
        <svg class="w-[30px] fill-stone-50 cursor-pointer hover:fill-red-600" id="Layer_1" version="1.1"
          viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <path
            d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z">
          </path>
        </svg>
      </div>
    </div>
    <ul id="menu-menu"
      class="text-stone-50 flex flex-col items-center justify-center w-full h-full text-[18px] font-bold">
      <li id="menu-item-691"
        class="flex items-center justify-center w-full h-full  hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
        <a href="https://www.mojjo.io/" aria-current="page">Đá Gà Trực Tiếp</a>
      </li>
      <li id="menu-item-667"
        class="flex items-center justify-center w-full h-full  hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
        <a href="https://www.mojjo.io/lich-da-ga/">Lịch đá gà</a>
      </li>
      <li id="menu-item-693"
        class="flex items-center justify-center w-full h-full  hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
        <a href="https://www.mojjo.io/video-da-ga/">Xem video phát lại</a>
      </li>
      <li id="menu-item-692"
        class="flex items-center justify-center w-full h-full  hover:text-red-600 hover:border-b-[3px] hover:border-red-600 hover:bg-stone-100 cursor-pointer">
        <a href="https://www.mojjo.io/kien-thuc-da-ga/">Kiến thức đá gà</a>
      </li>
    </ul>
  </div>


  <footer class="flex flex-col items-center justify-center w-full bg-stone-50">
    <div class="flex flex-col lg:flex-row w-full lg:w-[1200px] gap-8 py-6 px-6 lg:px-0">
      <div class="flex flex-col items-start">
        <a href="/" class="flex justify-center items-center">
          <img class=" h-auto w-[200px]" src="/upload/logo.png" />
        </a>
        <div class="flex flex-col text-stone-950 gap-3">
          <span>
            www.mojjo.io là trang web phát đá gà trực tiếp thomo campuchia có bình luận tốt nhất hiện nay với đầy đủ
            loại hình: cựa dao, cựa sắt, cpc1, cpc2, cpc3, cpc4, cpc5 với âm thanh sống động và hình ảnh sắc nét chân
            thực. Đảm bảo sẽ cho anh em đam mê đá gà giây phút trải nghiệm đáng giá nhất!
          </span>
          <span>Địa chỉ: 36 Đội Cấn, Ba Đình, Hà Nội</span>
          <span>Website: <a href="/">https://www.mojjo.io/</a></span>
        </div>
      </div>
      <div class="flex flex-col gap-3 text-stone-50">
        <span class="uppercase whitespace-nowrap font-bold">Về chúng tôi</span>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Giới thiệu Đá Gà TV</a>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Chính sách bảo mật</a>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Điều khoản sử dụng</a>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Miễn trừ trách nhiệm</a>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Liên hệ</a>
        <span class="whitespace-nowrap">Telegram QC: @lana191919</span>
      </div>
      <div class="flex flex-col gap-3 text-stone-50">
        <span class="uppercase font-bold whitespace-nowrap">Danh mục chính</span>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Lịch trực tiếp đá gà</a>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Xem lại clip đá gà</a>
        <a href="/" class="whitespace-nowrap text-yellow-500 underline">Tin tức đá gà</a>
      </div>
    </div>
    <span class=" py-6 text-red-700 font-bold">
      © 2023 Đá Gà TV. All rights reserved.
    </span>
  </footer>

  <!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script>
    const video = document.getElementById('video');
    let hls;

    function playStream(url) {
      if (video.canPlayType('application/vnd.apple.mpegurl')) {
        // Safari/iOS
        video.src = url;
        video.play();
      } else if (Hls.isSupported()) {
        if (hls) {
          hls.destroy(); // reset nếu đang phát stream cũ
        }
        hls = new Hls({ maxBufferLength: 10 });
        hls.loadSource(url);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, () => video.play());
      } else {
        video.outerHTML = '<p style="color:#fff">Trình duyệt không hỗ trợ HLS.</p>';
      }
    }

    // Gắn sự kiện cho các nút
    document.querySelectorAll("button[data-src]").forEach(btn => {
      btn.addEventListener("click", () => {
        const url = btn.getAttribute("data-src");
        playStream(url);
      });
    });

    // Mặc định load kênh 1
    playStream("https://dagaxyz.online/hls/myStream.m3u8");
  </script> -->
  <script>
    $(document).ready(function () {
      // Nút bật
      $(".open_form_search").click(function () {
        $(".form_search").fadeIn(300);

        // giữ chỗ scrollbar
        var scrollBarWidth = window.innerWidth - document.documentElement.clientWidth;
        $("body").css({
          "overflow": "hidden",
          "padding-right": scrollBarWidth + "px"
        });
      });

      // Nút tắt
      $(".close_form_search").click(function () {
        $(".form_search").fadeOut(300);
        $("body").css({
          "overflow": "auto",
          "padding-right": "0"
        });
      });
    });
  </script>


  <script>
    $(document).ready(function () {
      // Nút bật
      $(".open_menu_mobile").click(function () {
        $(".menu_mobile").fadeIn(300);   // hiện form mượt
      });

      // Nút tắt
      $(".close_menu_mobile").click(function () {
        $(".menu_mobile").fadeOut(300);     // ẩn form mượt
      });
    });
  </script>

</body>

</html>